@import '../../styles/abstract/variables';
.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
  animation-name: fade-in-bottom;
  animation-duration: 1s;
  animation-fill-mode: both;
}
.alert-msg {
  color: $color-primary-1;
  font-size: 1.5rem;
  text-shadow: 0 5px 10px rgba($color-primary-1, 0.3);
  background: rgba(0, 0, 0, 0.9);
  padding: 10px 20px;
  border-radius: 20px;
}

@keyframes fade-in-bottom {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
