.body {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
  background-image: url('../assets/bg/bg-2.jpg');
  background-size: cover;
  padding-top: 70px;
}
.main {
  min-height: 100vh;
}
